/* CHANNELS/DMS */
/*[[chan]]*/  div.sidebar-2K8pFh
  {
    opacity: 0;
    width: 40px;
    -webkit-transition: opacity 0.3s ease-in-out, width 0.5s;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
  }

  div.sidebar-2K8pFh:hover
  {
    opacity: 1;
    width: 250px;
  }
/* MEMBER LIST */
/*[[mem]]*/  [class|=membersWrap]
  {
    opacity: 0;
    width: 10px;
    min-width: 40px;
    -webkit-transition: opacity 0.3s ease-in-out, width 0.5s;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
  }

  [class|=membersWrap]:hover
  {
    opacity: 1;
    width: 240px;
  }

  .members-1998pB
  {
    opacity: 0;
    width: 40px;
    -webkit-transition: opacity 0.3s ease-in-out, width 0.5s;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
  }

  .members-1998pB:hover
  {
    opacity: 1;
    width: 240px;
  }